@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body.dark {
    --color-body: #ffffff;
    --color-heading:#eef3db;

    --color-base: #0c0a45;
    --color-base2: #000000;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree", sans-serif;
}

body.light {
    --color-body: #004d40 ;
    --color-heading:#940d9e;

    --color-base:#f5e5ff;
    --color-base2: #ffffff;
    --color-brand:#00a6ff ;
    --color-brand2:#fc4552 ;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree", sans-serif;
}




.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 25s ease infinite;
    font-size:60px;
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



.me{
    border-radius:59% 41% 67% 33% / 38% 60% 40% 62% ;
    transition: all 0.5s ease-in-out;
}


    
    
    body{
        
        background-color: var(--color-base2);
        color: var(--color-body);
        font-family:var(--sidbar-width),sans-serif;
        font-family:var(--font-base);
        transition: 0.8s;;
        
    }
    
    #toggle{
        position: relative;
        display: block;
        width: 80px;
        height: 40px;
        border-radius:26px;
        background-image: url(/images/pexels-arnie-chou-304906-1229042.jpg);
        background-size: cover;
        transition: 0.8s;
        border: solid 2px rgb(64, 59, 59);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        top: -100px;
        left: 73%;
        
    }
    
    #toggle .indicator{
        transition: background-image 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width:38px ;
        height: 38px;
        background-image:url(/images/moon.jpeg);
        background-size: cover;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        cursor: pointer;
        transform: 0.5s;

        
    }
    #toggle.active .indicator{
        left:40px;
        background-image: url(/images/zunn.jpg);
        background-size:150% ;
        background-position:100px;
        filter: brightness(1.4);
        transition: 0.5s;
    }
    
    h1,h2,h3,h4,h5,h6{
        color: var(--color-heading);
        font-weight: 700;
    }
    
    a{
        text-decoration:none;
        color: var(--color-body);
        transition: all 0.5s ease-in;
    }
    
    a:hover{
        color: var(--color-brand);
    }
    
    img{
        width: 100%;
        transition: all 0.5s ease-in;
    }
    
    
    .text-brand{
        color: var(--color-brand);
    }
    .full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 80px;
    border: solid 2px rgb(255, 255, 255,0.2);
    
}

.bg-base{
    background-color: var(--color-base);
}

.iconbox{
    background-color: var(--color-brand);
    height: 60px;
    width: 60px;
    font-size: 32px;
    color: var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-effect{
    transition: all 0.4s;
}

.shadow-effect:hover{
    box-shadow:-6px 6px 0 0 var(--color-brand);
}


/*Navbar*/
.navbar{
    background: linear-gradient(rgba(121, 16, 130, 0.9),rgba(75, 7, 76, 0.9)),url(/images/sidebars.jpeg);
}



.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}
.navbar-brand img{
    border: solid 8px var(--color-brand2);
    transition: all 0.5s;
}
.navbar-brand img:hover{
    border: solid 8px var(--color-body);
}
.navbar .nav-link:hover{
    color:var(--color-brand);
    transition: 0.4s;
}
.navbar .nav-link.active{
    color:var(--color-brand);
}

#cv{
    position: relative;
    left: -40px;
    top: -150px;
    transition: all 0.5s ease-in-out;
}
#cv i{
    width: 10px;
    height: 10px;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    left: -15px;
    top: 1px;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
    
    .cta-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .btn-brand {
        margin-bottom: 10px;
    }
    
    .link-custom {
        margin-bottom: -10px;
        position: relative;
        top: 20px;
        left: 10px;
    }
    #cv{
        position: relative;
        top: -140px;
        left: 20%;
        
        
    }
    .card-custom .link-custom {
        position: relative;
        top: -4px;
    }
    #toggle{
        top:-90px;
        margin-left: -110px;
        
    }
    .hi{
       font-size: 15px; 
    }
    .gradient-text{
        font-size: 35px;
    }
   
}

@media (min-width:768px) and (max-width:991px){
    #cv{
        position: relative;
        top: -100px;
        left: 30px;
    }
    #toggle{
        top:-50px;
        margin-left: -70px;
        
    }
  }
  
  
  @media  (min-width:370px) and (max-width:450px) {
      .service{
          width: 350px;
          position: relative;
          right: 70px;
        }
        .card-custom{
            width: 350px;
    position: relative;
    right: 55px;
}
   .bg-base{
    width: 350px;
    position: relative;
    right: 65px;
}

.form-group input{
    width: 350px;
    position: relative;
    right: 65px;
    
}
.form-group textarea{
    width: 350px;
    position: relative;
    right: 65px;
    
}

#toggle{
    top:-10px;
    left: 290px;
}
#cv{
    top:-120px;
    left: 70px;
    
}
.gradient-text{
    font-size:30px ;
    position: relative;
    right: 50px;
}
.explore{
    width: 190px;
    position: relative;
    right: 50px; 
}
.explores{
    width: 170px;
    position: relative;
    left: -40px;
}

h1,.hi{
    width: 200px; 
    position: relative;
    right: 50px; 
}
.head{
    position: relative;
    left: -10px;
}
.con{
    position: relative;
    left: 5px;
}

}
  @media (max-width:360px) {


      .service{
          width: 340px;
          position: relative;
          left: -75px;
        }
        .card-custom{
            width: 350px;
            position: relative;
            right: 50px;
        }
     .bg-base{
      width: 310px;
       position: relative;
        right: 70px;
          }

 

.form-group input{
    width: 310px;
    position: relative;
    right: 65px;
    
}
.form-group textarea{
    width: 310px;
    position: relative;
    right: 65px;
    
}
.connect{
    width: 200px;
    position: relative;
    left: -20px;
}



#toggle{
    top:50px;
    left: 260px;
}
#cv{
    top:-50px;
    left: 80px;
    
}


.explore{
    width: 190px;
    position: relative;
    right: 50px; 
}
.explores{
    width: 170px;
    position: relative;
    left: -40px;
}

h1{
    width: 200px; 
    position: relative;
    right: 50px; 
}
.head{
    position: relative;
    left: -10px;
}
.con{
    position: relative;
    left: -15px;
}

}




@media(min-width:992px){
    .navbar{
        min-height: 100vh;
        width:var(--sidbar-width);
        background: linear-gradient(rgba(13, 1, 14, 0.9),rgba(26, 1, 26, 0.9)),url(/images/sidebars.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
    }
    
    /*content-wrapper*/
    #content-wrapper{
        padding-left: var(--sidbar-width);
    }

    
}

/*button*/
.btn{
    padding: 12px 28px;
    font-weight: 700;
    transition: all 0.5s ease-in;
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:hover{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom:after{
    content:"";
    position: absolute;
    width:0%;
    height: 2px;
    left: 0;
    top: 110%;
    transition: all 0.4s;
    background-color:var(--color-brand);
}
.link-custom:hover::after{
    width: 100%;
}

/*card*/
.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}
.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

/*contact*/

#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
    font-weight: 700;
}
#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
    
}
#contact input.form-control{
    height: 44px;
}
#contact .form-control::placeholder{
    color: var(--color-body);
    
}

/*footer*/
.social a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);
    border-radius: 100px; 
    transition: all 0.5s ease-in;
}

span{
    transition: all 0.4s;
}







