@font-face {
    font-family: digital-7;
    src: url("digital-7/digital-7.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4296cead;
    --text-color: #ecf0f1;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5)),(rgba(0,0,0,0.5));
    background-color: #181a1c;
    font-family: digital-7;
    overflow: hidden; /* Prevent scrolling */
    user-select: none;
    cursor: pointer;
}

h2 {
    color: var(--text-color);
    text-shadow: 0 0 10px var(--primary-color);
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.frame {
    width: 600px;
    height: 300px;
    padding: 10px;
    border: 50px solid var(--primary-color);
    border-radius: 10px;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 100px;
    color: var(--text-color);
    text-shadow: 0 0 20px var(--primary-color);
    position: relative; /* Static within the frame */
}

.clock::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    opacity: 0.01;
    filter: blur(40px);
}

.date {
    font-size: 40px;
    color: var(--text-color);
    text-shadow: 0 0 10px var(--primary-color);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Responsive Design for Small Screens */
@media (max-width: 600px) {
    h2 {
        font-size: 30px;
    }

    .clock {
        font-size: 60px;
    }

    .date {
        font-size: 20px;
    }

    .frame {
        width: 90%;
        height: 200px;
        border-width: 20px;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 20px;
    }

    .clock {
        font-size: 40px;
    }

    .date {
        font-size: 18px;
    }

    .frame {
        width: 90%;
        height: 150px;
        border-width: 15px;
    }
}

/* Landscape mode for small screens */
@media (max-width: 600px) and (orientation: landscape) {
    h2 {
        font-size: 20px;
    }

    .clock {
        font-size: 30px;
    }

    .date {
        font-size: 15px;
    }

    .frame {
        width: 90%;
        height: 100px;
        border-width: 10px;
    }
}
