<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Template/style.css">
    <script src="/Template/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header1">
      <img src="/assets/macaw.gif" class="macow" alt="">
        <h2>KK Birds and Accesories</h2>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">About us</a></li>
                    </ul>
        <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #2f3640;" id="cart"></i>
        <div class="searchBox">

            <input class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="fa-solid fa-magnifying-glass">
                </i>
            </button>
        </div>


    </div>
        
        


        <div class="slider">
            <h4>Minumum delivery order amount Rs.500</h4>
            <h4>Delivey Fee Vary upto the location</h4>
            <h4>Online Payment Only</h4>
            <h4>We are not accepting Returns</h4>
        </div>

           <div class="main">
            <img src="/assets/macaw-birds-couple-colorful-jungle-love-birds-tropical-6144x4098-7464.jpg" alt="">
            <aside>
                <div class="tip">
                    <h1>KARTHI BIRDS & ACCESSORIES</h1>
                    <ol>
                        <li>Cash on Delivery (COD) is not a service we provide, despite any indication suggesting otherwise.
        
                        </li>
                        <li>Enjoy seamless delivery anywhere in India, right to your doorstep, courtesy of our efficient courier service.</li>
                        <li>There are extra charges for delivery to ensure the highest quality service.</li>
                    </ol>
                </div>
            </aside>
            
<button class="button-85" role="button">Shop Now</button>
         </div>

         <div class="offer">
            <h1>OFFER</h1>
            <img src="/assets/coupon.jpg" alt="">
         </div>
         <div class="categories">
            <h1>CATEGORIES</h1>
            <div class="container-large signed-out-masthead signed-out-hero js-signed-out-masthead">
                <div class="hero-categories filter-categories js-filter-categories js-shot-categories">
                  <ul>
                    <li class="hero-category category sets-path ">
                      <a title="Discover" data-param="category" data-track-sub-nav="true" href="#">Discover</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Animation" data-param="category" data-value="animation" data-track-sub-nav="true" href="#">Animation</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Branding" data-param="category" data-value="branding" data-track-sub-nav="true" href="#">Branding</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Illustration" data-param="category" data-value="illustration" data-track-sub-nav="true" href="#">Illustration</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Mobile" data-param="category" data-value="mobile" data-track-sub-nav="true" href="#">Mobile</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Print" data-param="category" data-value="print" data-track-sub-nav="true" href="#">Print</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Product Design" data-param="category" data-value="product-design" data-track-sub-nav="true" href="#">Product Design</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Typography" data-param="category" data-value="typography" data-track-sub-nav="true" href="#">Typography</a>
                    </li>
                    <li class="hero-category category sets-path ">
                      <a title="Web Design" data-param="category" data-value="web-design" data-track-sub-nav="true" href="#">Web Design</a>
                    </li>
                  </ul>
                </div>
              </div>
         </div>
         <body>

          <div class="gallery">
              <div class="content">
                  <img src="https://img.freepik.com/free-vector/modern-watch_23-2147517339.jpg?w=740&t=st=1711248726~exp=1711249326~hmac=f9db2cbca8b8f57b2110ace4dadaff2851d93b2a1abcd3cd3d25cfa5dcd95870"
                      alt="smartwatch">
                  <h3>Watch</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores
                  </p>
                  <h6> $120.00</h6>
            
                  <Button class="buy">Buy now</button>
              </div>
      
              <div class="content">
                  <img src="https://img.freepik.com/free-vector/headphones-wireless-realistic-composition-with-isolated-image-phones-with-power-bank-dock-station-with-reflections-vector-illustration_1284-73201.jpg?w=740&t=st=1711249412~exp=1711250012~hmac=880c4f7abbb4730c9e06dfbdcc1e673616faf2dbe6926ed2f80fed3ee37429ec"
                      alt="">
                  <h3>Earphone</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores
                  </p>
                  <h6> $40.00</h6>

                  <Button class="buy">Buy now</button>
              </div>
              <div class="content">
                <img src="https://img.freepik.com/free-vector/headphones-wireless-realistic-composition-with-isolated-image-phones-with-power-bank-dock-station-with-reflections-vector-illustration_1284-73201.jpg?w=740&t=st=1711249412~exp=1711250012~hmac=880c4f7abbb4730c9e06dfbdcc1e673616faf2dbe6926ed2f80fed3ee37429ec"
                    alt="">
                <h3>Earphone</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores
                </p>
                <h6> $40.00</h6>
             
                <Button class="buy">Buy now</button>
            </div>
                <div class="content">
                  <img src="https://img.freepik.com/free-vector/headphones-wireless-realistic-composition-with-isolated-image-phones-with-power-bank-dock-station-with-reflections-vector-illustration_1284-73201.jpg?w=740&t=st=1711249412~exp=1711250012~hmac=880c4f7abbb4730c9e06dfbdcc1e673616faf2dbe6926ed2f80fed3ee37429ec"
                      alt="">
                  <h3>Earphone</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores
                  </p>
                  <h6> $40.00</h6>
                 
                  <Button class="buy">Buy now</button>
              </div>
      
              <div class="content">
                  <img src="https://img.freepik.com/free-photo/elegant-smartphone-composition_23-2149437106.jpg?t=st=1711249760~exp=1711253360~hmac=62de81f0d62c3e9b18ed95609e37bcbe35cdd1980c9856ecb4b92dd8237e51a4&w=360"
                      alt="">
                  <h3>Smartphone</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores.
                  </p>
                  <h6> $1000.00</h6>
                  <button class="buy">Buy now</button>
              </div>
      
              <div class="content">
                  <img src="https://img.freepik.com/free-photo/levitating-music-headphones-display_23-2149817602.jpg?w=740&t=st=1711249913~exp=1711250513~hmac=1fee06f471ad5b22e98655a5bdee4312286034d3f76703e650b0c5be2ba63b98"
                      alt="">
                  <h3>Headphone</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis inventore, libero quam asperiores
                  </p>
                  <h6> $100.00</h6>
                  <Button class="buy">Buy now</button>
              </div>
          </div>
      
      </body>
      
      </html>
        

         <ul class="wrapper">
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><i class="fab fa-facebook-f"></i></span>
          </li>
          <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <span><i class="fab fa-twitter"></i></span>
          </li>
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><i class="fab fa-instagram"></i></span>
          </li>
          <li class="icon github">
            <span class="tooltip">Github</span>
            <span><i class="fab fa-github"></i></span>
          </li>
          <li class="icon youtube">
            <span class="tooltip">Youtube</span>
            <span><i class="fab fa-youtube"></i></span>
          </li>
        </ul>


    
       <div class="foot">
        <h3>For Enquiries</h3>
        <section>
          <h2>Contact Information</h2>
          <p>Salem</p>
          <p>Email: kk birds&acceso.com</p>
          <p>Phone: 95485438839</p>
      </section>
      
      <div class="loop-wrapper">
        <div class="mountain"></div>
        <div class="hill"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="rock"></div>
        <div class="truck"></div>
        <div class="wheels"></div>
      </div> 
  
      <footer>
          <ul>
              <li><a href="#">copyright@pixeL24/7.inc</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Shipping & Payment Policy</a></li>
              <li><a href="#">Privacy Policy</a></li>

          </ul>

      </footer>
       </div>

      



        




</body>
</html>