@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    z-index: 1;
    scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      
  
}
body::-webkit-scrollbar{
    display:none ;
}
:root{
    --primary-color:#D20062;
    --grey-color:rgb(96, 96, 112);
    --pink-color:#c076c9;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    
}
ul{
    display: flex;
    list-style-type: none;
    padding-inline: 20px;
    gap: 20px;
    position: relative;
    right: 30px;
    top: 20px;
    font-size: 30px;
}
a:hover{
    color:var(--primary-color)
}
#fmg-logo{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    

}
.fmg-logo{
    width: 200px;
    position: relative;
    left: -400px;
    top: -5px;
    transition: opacity 0.5s ease-in-out; 
    animation: searching 6s ease-in-out forwards; 
}
@keyframes searching {
    0% {
        transform: translateX(-40%) translateY(-2000px);
    }
    25% {
        transform: translateX(1000px) translateY(0px);
    }
    50% {
        transform: translateX(1200px) translateY(0px);
    }
    75% {
        transform: translateX(190px) translateY(700px);
    }
    100% {
        transform: translateX(20%) translateY(-10px);
    }
}
#fmg-logo-alt{
    width: 100px;
    opacity: 0;  
    transition: opacity 0.5s ease-in-out; 

}
#fmg-logo-alt{
    position: relative;
    left: -580px;
    top: 10px;
}




.header{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: var(--primary-color);
    position: sticky;
    top: 0px;
    left: 10px;
    background-color: aliceblue;
    padding:0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    
}
.header h1{
    position: relative;
    top: 5px;
    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  left: 20px;
}
#tailor {
    width: 600px;
    border-radius: 30%;
    position: relative;
    top: 100px;
    left: 200px;

}
#catering {
    width:650px;
    border-radius:20%;
    position: relative;
    top: 80px;
    left: 700px;
}
#lifting{
    width: 600px;
    border-radius: 20%;
    position: relative;
    top: 100px;
    left: 100px;
}
#medical{
    width: 600px;
    border-radius: 20%;
    position: relative;
    top: 300px;
    left: 700px;
}
#map{
    position: relative;
    top: 400px;
    width: 1000px;
border-radius: 10%;
}
#gig{
    position: relative;
    top: 500px;
    border-radius: 10%;

}
.text{
    font-size: 24px;
    position: relative;
    top: 200px;
    left: 750px;
}
.text h1,p{
    margin-top:10px ;
    position: relative;
    top: 0px;
}
.text h1{
    color: var(--grey-color);
    font-size: 70px;
    position: relative;
    right: 110px;
}
.text p{
    position: relative;
    left: -40px;
    word-spacing: 3px;
    top: -20px;
}
.text button{
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color:var(--pink-color) ;
    position: relative;
    top: 0px;
    margin-left: 70px;
    left: 100px;
}
.text button:hover{
    background-color:var(--primary-color) ;
    color: #ffffff;
}
.info2{
    display: flex;
}
.split {
    position: relative;
    top: 300px;
    left: 30px;
    color: var(--grey-color);

}
.split h1{
    position: relative;
    top:70px;
    left: 350px;
    color: var(--grey-color);
    font-size: 50px;


}
.split ul{
    display: flex;
    flex-direction: column;
    top: 80px;
    left:-15px;
}
.info3{
    display: flex;
}
.split2 {
    position: relative;
    top: 400px;
    left: 30px;
    color: var(--grey-color);

}
.split2 h1{
    position: relative;
    top:120px;
    left: 200px;
    color: var(--grey-color);
    font-size: 50px;


}
.split2 ul{
    display: flex;
    flex-direction: column;
    top: 150px;
    left: -10px;
    line-height: 50px;
}
.info3 span{
    color: var(--primary-color);
}
.contact{
    position: relative;
    top: 600px;
    background-color: var(--pink-color);
    height: 400px;
    max-width:100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.contact h2{
    font-size: 50px;
    color: var(--primary-color);
    --webkit-text-stroke:10px black;
    margin-top: 80px;
    position: relative;
    top: -40px;
    
    
}
.contact h2{
        text-shadow: 
          -1px -1px 0 #000,  
           1px -1px 0 #000,
          -1px  1px 0 #000,
           1px  1px 0 #000; /* Offset-x, offset-y, blur-radius, and color */
      }
 .icons i{
 font-size: 30px;
position: relative;
top: 250px;
margin-left: 20px;
right: 290px;}
.us{
    position: relative;
    left: 100px;
    display: flex;
}
.contact p{
    font-size: 30px;
    font-weight: 800;
    -webkit-text-stroke: 0.1px (255, 255, 255);
    text-shadow: 
    -1px -1px 0 #959393,  
     1px -1px 0 #a3a3a3,
    -1px  1px 0 #c6c6c6,
     1px  1px 0 #ffffff;
     position: relative;
     right: -105px;
     top: -110px;
}
.copyrights{
    position: relative;
    top: 565px;
    max-width: 100%;
    background: #000000;
    color: #ffffff;
    padding-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0;

}

.reso{
    position: relative;
    left: 500px;
    top: 150px;
   
}

.reso h1{
    position: relative;
    top: -100px;
    left: 130px;
}
.reso p{
    position: relative;
    top: -110px;
}